*{
    margin: 0;
    padding: 0;
}
html,body{
    height:100%;
    display: grid;
    place-items: center;

    background: #1974db;
}
.box{
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    display: flex ;
    align-items: center;

}
